*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
*.settings/*
.settings/**
.settings/org.eclipse.jpt.entitygen.baseballdb.database
.settings/**/*
.loadpath
build/classes
build/
build/**
build/**/*
build/*.class

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath
*.classpath
*.project

*.class
build/
